<div class="container home">
  <div class="row">
    <div class="col-md-4">
      <div class="card profile-card">

        <div>
          <img class="profile-img" src="../../../assets/petro.jpg">
        </div>

        <h5 class="title">ABOUT</h5>

        <div class="card-body">
          <h5 class="mt-0">Software Engineer</h5>
          <p>4+ years experience</p>
        </div>
        <hr class="m-0">
        <div class="card-body mt-3">
          <h5 >Projects</h5>
          <p>10+ </p>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <h5>Projects</h5>
      <div *ngFor="let project of projectList">
        <div class="pull-left">
          <!-- <img class="" src="https://meliora.co.ke/assets/images/mulika/mulika.svg"> -->
        </div>
        <hr class="mt-1 mb-1">
        <u><a class="card-title" [routerLink]="['/projects']" [queryParams]="{proj: project.id}">{{project.name}}</a> </u>
        <small class="float-right"> by <a href="{{project.ownerUrl}}">{{project.owner}}</a></small>
        <p class="text-muted">{{project.elevatorPitch}}</p>
        <small> 3 blogs</small>
      </div>

      <hr>

      <h5>Skills and Technologies</h5>
      <div *ngFor="let skill of skillList">
        <div class="pull-left">
          <!-- <img class="" src="https://meliora.co.ke/assets/images/mulika/mulika.svg"> -->
        </div>
        <!-- <br class="mt-0 mb-1"> -->
        <u><a class="card-title mt-3">{{skill.name}}</a></u>
        <p class="text-muted">{{skill.description}}</p>
      </div>
      <div hidden>
        <ul>
          <li>Senior Software Engineer; <a href="https://meliora.co.ke">Meliora Technologies Limited</a></li>
        </ul>
        <hr class="m-1">
        <h5>Education</h5>
        <ul>
          <li>Bsc Computer Science Jomo Kenyatta University of Agriculture and Technology</li>
        </ul>
        <div class="card">
          <div class="card-header">
            Highlights
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
