<div class="container home">
  <div class="row">
    <div class="col-md-4">
      <div class="card profile-card">

        <div>
          <img class="profile-img" src="../../../assets/petro.jpg">
        </div>

        <h5 class="title">ABOUT</h5>

        <div class="card-body">
          <h5 class="mt-0">Software Engineer</h5>
          <p>4+ years experience</p>
        </div>
        <hr class="m-0">
        <div class="card-body mt-3">
          <h5>Projects</h5>
          <p>10+ </p>
        </div>
      </div>
    </div>

    <div class="col-md-8 content-body">

      <h4 class="section-title">Projects</h4>

      <hr class="my-2">

      <div *ngFor="let project of projectList" class="projects mb-5">

        <div class="project-item">

          <div class="row">
            <div class="col-6 col-md-6">
              <h5 class="project-title"><a [routerLink]="['/projects']" [queryParams]="{proj: project.id}">{{project.name}}</a> </h5>
            </div>

            <div class="col-6 col-md-6 text-right">
              <small> by <a href="{{project.ownerUrl}}">{{project.owner}}</a></small>
            </div>
          </div>

          <p>{{project.elevatorPitch}}</p>

          <button type="button" class="btn blogs-btn btn-sm">3 blogs</button>
        </div>

      </div>


      <h4 class="section-title">Skills and Technologies</h4>

      <hr class="my-2">


      <div *ngFor="let skill of skillList" class="skills">

        <div class="skill-item">
          <h5 class="skill-title"><a class="card-title mt-3">{{skill.name}}</a></h5>
          <p>{{skill.description}}</p>
        </div>

      </div>



      <div hidden>
        <ul>
          <li>Senior Software Engineer; <a href="https://meliora.co.ke">Meliora Technologies Limited</a></li>
        </ul>
        <hr class="m-1">
        <h5>Education</h5>
        <ul>
          <li>Bsc Computer Science Jomo Kenyatta University of Agriculture and Technology</li>
        </ul>
        <div class="card">
          <div class="card-header">
            Highlights
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
